{% extends 'base.html' %} 


{% block title %}| Sign Up{% endblock %}

{% block content %}
<body class="join">
  {% include 'partials/_message.html' %}
  <div class="container">
    <form class="join" action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <div class="row">
          <div class="col pr-1">
            <input
              class="form-control"
              type="text"
              name="first"
              placeholder="First name..."
              minlength="3" 
              required
            />
          </div>
          <div class="col pl-1">
            <input
              class="form-control"
              type="text"
              name="last"
              placeholder="Last name..."
              minlength="3" 
              required
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input
            class="form-control"
            type="text"
            id="username"
            name="username"
            placeholder="Pick a Username..."
            minlength="3" 
            required
          />
        </div>
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="Enter an email"
          required
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="Enter a password"
          minlength="5" 
          required
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary px-5 font-weight-bold btn-block mt-4"
      >
        Sign up
      </button>
      <br />
      <a href="{% url 'login' %}" class="mt-3">Already have an account? Login</a>
    </form>
  </div>
</body>
{% endblock %}
