{% extends 'base.html' %}

{% block title %}| About{% endblock %}

{% block content %}
<section class="container">
  <div class="my-5">
    <h3 class="mt-5">About Stylek</h3>
    <p>This project intend to provide information about beauty salons, spa centers photographers and gyms in Egypt. Aside that we have a wonderful blog with easy access to whatever field you prefer</p>
    <h5>Current Features</h5>
    <p>Search over tons of beauty salons in Egypt, findout who is near your district or city, access their phone number, address and website if avialable</p>
    <h5>Upcomming Features</h5>
    <p>Working now on the Blog section, will add more features in the profile page and will add the ability to add new Beauty salon or update existing one after validating the sourse as each beauty salon will has its own account</p>
  </div>
  <div class="my-5"><hr></div>
  <div class="my-5">
    <h3 class="mt-5">Contact me</h3>
    <p>For any inquiry you can reach me directly through below mail</p>
    <p class="text-success">Mu7med.youssef@gmail.com</p>
  </div>
</section>
{% endblock %}