{% extends 'base.html' %} {% load static %}

<!-- Index Content -->
{% block content %}
<body id="index">
  {% include 'partials/_message.html' %}

  <!-- Landing section -->
  <section id="landing_content" class="container">
    <div class="bg landing">
      <img src="{% static 'img/landing_bg.svg' %}" alt="bg" />
    </div>
    <div class="mb-5 landing_text">
      <h1 id="landing_header" class="m-0">BE YOUR</h1>
      <h1 id="landing_header" class="font-weight-bold m-0">OWN</h1>
      <h1 id="landing_header" class="m-0">WAY</h1>
    </div>
    <div class="pt-4">
      <a
        class="btn btn-primary text-light px-5 font-weight-bold shadow"
        href="{% url 'search' %}"
        id="search"
      >
        SEARCH
      </a>
      <span>&nbsp;</span>
      <a
        class="btn btn-outline-primary text-primary px-4 font-weight-bold"
        href="{% url 'about' %}"
        id="who"
      >
        WHO WE ARE
      </a>
    </div>
  </section>

  <!-- Services Section -->
  <section class="pb-5 services text-center text-light">
    <h1 id="about_head" class="text-center py-5">ABOUT OUR SERVICES</h1>

    <div class="container mt-5">
      <div class="row">
        <div class="col shadow-lg p-3 m-2">
          <h2>Search</h2>
          <p>
            Bunch of beauty salons, photographers, spa centers, weight control
            centers and gyms all over Egypt
          </p>
        </div>
        <div class="col shadow-lg p-3 m-2">
          <h2>Blog</h2>
          <p>
            Wonderful community where you will find useful tips and tricks about
            all what you need to know
          </p>
        </div>
        <div class="col shadow-lg p-3 m-2">
          <h2>Shopping</h2>
          <p>
            E-Commerce section where you will find latest fashion dress,
            makeups, tools and more
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Featured Section -->
  <section class="featured text-center bg-primary">
    <div class="container py-5">
      <h1 class="text-light py-5">Most Featured List</h1>
      <div class="card-deck mx-auto px-5 pb-5">
        {% for partner in partners %}
        <div
          class="card shadow mx-auto mb-2 text-center"
          style="min-width: 15rem; max-width: 17rem;"
        >
          <a href="{% url 'partner' partner.id %}">
            <img
              class="card-img-top"
              src="{{ partner.main_photo.url }}"
              alt="Partner Image"
            />
          </a>
          <div class="card-body">
            <!-- <h5 class="card-title">{{ partner.name }}</h5> -->
          </div>
          <ul class="list-group list-group-flush">
            <p class="font-weight-bold">
              Rating:
              <span
                class="fa fa-star {%if partner.rating >= 1%} checked {%endif%}"
              ></span>
              <span
                class="fa fa-star {%if partner.rating >= 2%} checked {%endif%}"
              ></span>
              <span
                class="fa fa-star {%if partner.rating >= 3%} checked {%endif%}"
              ></span>
              <span
                class="fa fa-star {%if partner.rating >= 4%} checked {%endif%}"
              ></span>
              <span
                class="fa fa-star {%if partner.rating >= 5%} checked {%endif%}"
              ></span>
            </p>
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- SHOPPING -->
  <section class="shopping text-center text-light">
    <h1>Shopping Section</h1>
    <h4>We got all you need</h4>
    <button class="btn btn-light shadow px-4">Comming Soon..</button>
  </section>

  <!-- FOOTER -->
  <footer class="p-4">
    <div class="container">
      <div class="row py-5 mb-5">
        <div class="col-md-3 mb-5">
          <img src="{% static 'img/logo.svg' %}" alt="logo" />
          <hr />
          <a class="d-block" href="{% url 'about' %}">About us</a>
        </div>

        <div class="col-md-3 mb-5 pt-4">
          <h5>Services</h5>
          <hr />
          <a class="d-block" href="{% url 'search' %}">Search</a>
          <a class="d-block" href="#">Shopping</a>
        </div>

        <div class="col-md-3 mb-5 pt-4">
          <h5>Community</h5>
          <hr />
          <a class="d-block" href="#">Blog</a>
        </div>

        <div class="col-md-3 mb-5 pt-4">
          <h5>Future links</h5>
          <hr />
          <a class="d-block" href="#">Another link</a>
        </div>
      </div>

      <div class="text-center my-5 pb-5">
        <a href="https://www.facebook.com/Stylek.Official/" target="_blank">
          <i class="fab fa-facebook-f p-3 mx-3"></i>
        </a>
        <a href="#" target="_blank"
          ><i class="fab fa-instagram p-3 mx-3"></i
        ></a>
        <a href="#" target="_blank"><i class="fab fa-twitter p-3 mx-3"></i></a>
      </div>
      <div class="text-center">
        <p>&copy; all rights reserved - {% now "Y" %}</p>
      </div>
    </div>
  </footer>
</body>
{% endblock %}
