{% extends 'base.html' %} {% load static %}

<!-- blog content -->
{% block content %} 
<main class="blog_single_post">
  <section class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 mt-5">
        <h1 class="post_title pt-1">{{ post.title }}</h1>
        <hr class="m-0 text-left" style="width: 70%;">
        <p class="text-primary py-3" style="font-size: 1rem;">
          <span class="border border-primary py-1 px-2 mr-2 rounded">
            <i class="fas fa-user"></i>
            <!-- Full name of user -->
            {{ post.owner.first_name }} {{ post.owner.last_name }}
          </span>
          <span class="border border-primary py-1 pr-2 rounded">
            <i class="far fa-clock ml-2"></i> {{ post.pub_date }}
          </span>
        </p>
        <img
          src="
            {% if post.image %}
              {{ post.image.url }}
            {%else%}
              {{ post.image_url }}
            {% endif %}"
          class="img-fluid"
          style="max-height:350px;"
        />
        <div class="lead my-5 post_content font-weight-normal">
          <p>{{ post.content | linebreaks }}</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </section>
</main> 
{% endblock%}
