{% extends 'base.html' %}
{% load static %}

{% block title %}| Search{% endblock %}

{% block content %}
<section class="container my-5">
  <form action="{% url 'search' %}">
    <div class="row mb-2">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Type a name..."
          name="name"
          value="{{values.name}}"
        />
      </div>
      <div class="col">
        <select name="city" class="custom-select">
          <option selected value="">All Cities</option>
          {% for key, value in cities.items %}
            <option value="{{key}}"
              {% if key == values.city %}
              selected
              {% endif %}
            >{{value}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <select name="district" class="custom-select">
          <option selected value="">All districts</option>
          {% for key, value in districts.items %}
            <option value="{{key}}"
              {% if key == values.district %}
              selected
              {% endif %}
            >{{value}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="custom-control custom-checkbox mx-3 cb">
        <input
          class="custom-control-input"
          type="checkbox"
          name="beauty"
          id="beauty"
          {% if values.beauty == 'on' %}
          checked
          {% endif %}
        />
        <label class="custom-control-label" for="beauty">Beauty Salon</label>
      </div>
      <div class="custom-control custom-checkbox mx-3 cb">
        <input
          class="custom-control-input"
          type="checkbox"
          name="spa"
          id="spa"
          {% if values.spa == 'on' %}
          checked
          {% endif %}
        />
        <label class="custom-control-label" for="spa">Spa</label>
      </div>
      <div class="custom-control custom-checkbox mx-3 cb">
        <input
          class="custom-control-input"
          type="checkbox"
          name="wc"
          id="wc"
          {% if values.wc == 'on' %}
          checked
          {% endif %}
        />
        <label class="custom-control-label" for="wc"
          >Weight Control</label
        >
      </div>
      <div class="custom-control custom-checkbox mx-3 cb">
        <input
          class="custom-control-input"
          type="checkbox"
          name="pg"
          id="pg"
          {% if values.pg == 'on' %}
          checked
          {% endif %}
        />
        <label class="custom-control-label" for="pg"
          >Photographers</label
        >
      </div>
    </div>
    <button
      class="btn btn-primary text-light px-5 my-3 d-block mx-auto font-weight-bold shadow"
      type="submit"
    >
      SEARCH
    </button>
  </form>
</section>

<section class="container result mb-5">
  <h5 class="font-weight-bold  pb-3">Most Featured</h5>
  <div class="card-columns">
    <!-- Cards -->
    {% for partner in partners %}
      <div class="card shadow" style="width: 17rem;">
        <a href="{% url 'partner' partner.id %}">
          <img
            class="card-img-top"
            src="{{partner.main_photo.url}}"
            alt="Card image cap"
          />
        </a>
        <div class="card-body">
          <a href="{% url 'partner' partner.id %}">
            <h6 class="card-title">{{partner.name}}</h6>
          </a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">City: {{partner.city}}</li>
          <li class="list-group-item">
            Rating: 
            <span class="fa fa-star {%if partner.rating >= 1%} checked {%endif%}"></span>
            <span class="fa fa-star {%if partner.rating >= 2%} checked {%endif%}"></span>
            <span class="fa fa-star {%if partner.rating >= 3%} checked {%endif%}"></span>
            <span class="fa fa-star {%if partner.rating >= 4%} checked {%endif%}"></span>
            <span class="fa fa-star {%if partner.rating >= 5%} checked {%endif%}"></span>
          </li>
        </ul>
      </div>
    {% endfor %}
    <!-- ends -->
  </div>


  <nav aria-label="Page navigation mt-5">
    {% if partners.has_other_pages %}
      <ul class="pagination justify-content-center">

        {% if partners.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?name={{values.name}}&city={{values.city}}&district={{values.district}}&beauty={{values.beauty}}&spa={{values.spa}}&wc={{values.wc}}&pg={{values.pg}}&page={{ partners.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1">Previous</a>
          </li>
        {% endif %}


        {% for i in partners.paginator.page_range %}
          {% if partners.number == i %}
            {% if not partners.number == 1 %}
              <li class="page-item" ><a class="page-link" href="?name={{values.name}}&city={{values.city}}&district={{values.district}}&beauty={{values.beauty}}&spa={{values.spa}}&wc={{values.wc}}&pg={{values.pg}}&page={{ partners.previous_page_number }}">{{partners.previous_page_number}}</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link">{{i}}</a></li>
            {% if not partners.paginator.num_pages == i %}
              <li class="page-item"><a class="page-link" href="?name={{values.name}}&city={{values.city}}&district={{values.district}}&beauty={{values.beauty}}&spa={{values.spa}}&wc={{values.wc}}&pg={{values.pg}}&page={{ partners.next_page_number }}">{{partners.next_page_number}}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?name={{values.name}}&city={{values.city}}&district={{values.district}}&beauty={{values.beauty}}&spa={{values.spa}}&wc={{values.wc}}&pg={{values.pg}}&page={{ partners.paginator.num_pages }}">...{{partners.paginator.num_pages}}</a></li>
          {% endif %}
          {% endfor %}
          

        {% if partners.has_next %}
          <li class="page-item">
            <a class="page-link" href="?name={{values.name}}&city={{values.city}}&district={{values.district}}&beauty={{values.beauty}}&spa={{values.spa}}&wc={{values.wc}}&pg={{values.pg}}&page={{ partners.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </nav>
  <br><br><br>
</section>

{% endblock %}
